body {
    background-color: rgb(241, 227, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

h1 {
    color: rgb(89, 12, 117);
}

h2 {
    color: rgb(89, 12, 117);
}

h3 {
    color: brown;
}

p {
    padding: 0, 10, ;
}

form {
    margin: 6%;
    text-align: center;
    border-radius: 20px;
    color: rgb(122, 12, 155);
    font-size: 30px;
}

button {
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(115, 0, 150);
    margin-top: 1px;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    box-shadow: 10px, 5px;
}

input,
label {
    margin-bottom: 3%;
    width: 200px;
    height: 25px;
    font-size: 10px;
    color: bolder;
    border-radius: 20px;
}

a {
    color: rgb(51, 0, 67);
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-style: dotted;
    border-color: rgb(226, 61, 255);
    border-radius: 50px;
    background-color: rgb(240, 178, 255);
    box-shadow: 5px 5px 5px rgb(174, 166, 166);

}

.divisoes {
    background-color: rgb(128, 214, 161);
    text-align: center;
}

.link-cadastro {
    padding-top: 60px;
}

.categoriass {
    margin: 10%;
}

.d-flex {
    width: 70%;
    margin: auto;
}
