h1{
    padding: 10px;
    text-align: center;
    background-color: rgb(240, 178, 255);
    color: rgb(89, 12, 117);
    border-style: dotted;
    border-color:  rgb(226, 61, 255);
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background-color: rgb(241, 227, 255);
}

button{
    color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgb(115, 0, 150);
    margin-top: 1px;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

p{
    text-align: center;
    margin: 50%;
}

form{
    margin: 6%;
    text-align: center;
    border-radius: 20px;
}

input {
    margin-bottom: 3%;
    width: 200px;
    height: 25px;
    font-size: 10px;
    color: bolder;
    border-radius: 20px;
}